<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!-- website is able to load on all devices-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather App</title>
    <!--link css-->
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    
    <h1>Weather App</h1>

    <!--form for city name-->
    <form action="/" method="POST">
        <!--input and paceholder-->
        <input type="text" name="city" placeholder="Enter City Name" required>
        <!--submit button-->
        <button type="submit">Get Weather</button>
    </form>

    <!--if weather exists-->
    <% if (weather) { %> 
        <div>
            <h2>Weather for <%= weather.location %></h2>
            <p>Temperature: <%= weather.temperature %>°C</p>
            <p>Description: <%= weather.description %></p>
        </div>
    <% } else if (error) { %> <!--if doesnt exist then error-->
        <div>
            <p><%= error %></p>
        </div>
    <% } %>
</body>
</html>
